<div class="about-profile clearfix">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="img-overlay">
        <a href="https://github.com/sarahraquel" target="blank">
          <i class="fa fa-github fa-2x" aria-hidden="true"></i>
        </a>
        <img src="{{user.path_photo}}" class="img-responsive img-circle" />
      </div>
      <h4> {{ firstName + ' ' + lastName }}</h4>
      <div class="skills">
        <span *ngFor="let habilidade of habilidades" class="skill label label-primary"> {{ habilidade }}</span>
      </div>
      <small> {{ user?.email}} </small>
    </div>
  </div>
</div>
