.about-profile {
  margin-top: 30;
  margin-bottom: 30px;
  min-height: 220px;
}

.about-profile h4,
.about-profile small {
  text-align: center;
  display: block;
}

.about-profile .img-overlay {
  position: relative;
  display: table;
  margin: 0 auto;
}

.about-profile .img-overlay img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.about-profile .img-overlay::before {
  content: " ";
  display: block;
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  left: calc(50% - 50px);
  border-radius: 50%;
  background-color: black;
  opacity: 0;
  transition: 0.3s ease opacity;
}

.about-profile .img-overlay:hover::before {
  opacity: 0.6;
}

.about-profile .img-overlay:hover a {
  opacity: 1;
}

.about-profile .img-overlay a {
  position: absolute;
  text-align: center;
  width: 30px;
  height: 30px;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  opacity: 0;
}

.about-profile .skills {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.about-profile .skills .skill {
  margin: 2px 2px;
  min-width: 40%;
  cursor: default;
  font-size: 9pt;
  font-weight: 400;
}
