<div class="col-md-8 col-md-offset-2">
  <h1> Quem somos? </h1>
  <p> Conheça os idealizadores, desenvolvedores e apoiadores desta iniciativa </p>

  <div class="col-md-12 listagem">
    <div class="row">

    <h2 class="title" >Contribuidores no Github</h2>
    <div class="row" *ngFor="let row of formatGrid(contributors)">
      <div class="col-md-4" *ngFor="let item of row">
        <profile-card [user]="item"></profile-card>
      </div>
    </div>


    <div class="col-md-12 listagem">
      <h2> Apoio </h2>
      <hr/>
      <div class="row">
        <p> Seja um apoiador! Entre em contato conosco pelo <a href="https://github.com/discentes-imd"> github </a>. 
      </div>
    </div>
  </div>
  </div>
</div>
