<div class="jumbotron text-center">
  <h2> Bem-vindo à <b> IntegraTI</b>! </h2>
  
  <p> A IntegraTI é a sua plataforma de auxílio ao aprendizado e integração do corpo discente.  </p>
  <p> Visamos centralizar e unificar assuntos de interesse comum, como: cursos, ações dos discentes no IMD, além de 
    prover auxílio ao aluno nas suas escolhas ao longo de sua jornada, refletindo no seu desempenho acadêmico. </p>
  <p> Desta forma, a plataforma visa contribuir no desenvolvimento e progresso do aluno 
    tanto na academia como no mercado. </p>
  
  <button class="btn btn-raised btn-info" routerLink="/about"> Conheça os desenvolvedores </button>
  <a href="https://github.com/discentes-imd">
  <button class="btn btn-raised"> Conheça nosso github </button>
  </a>      
</div>
