<div class="col-md-6 col-md-offset-3">
    <h2>Cadastrar</h2>
        <div class="form-group" >
            <label for="firstName">Primeiro nome</label>
            <input type="text" class="form-control" name="firstName" required />
            <div class="help-block">Nome é necessário</div>
        </div>
        <div class="form-group">
            <label for="lastName">Sobrenome</label>
            <input type="text" class="form-control" name="lastName" required />
            <div class="help-block">Sobrenome é necessário</div>
        </div>
        <div class="form-group" >
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email"  required />
            <div class="help-block">Email é necessário</div>
        </div> 
        <div class="form-group">
            <label for="username">Nome de usuário</label>
            <input type="text" class="form-control" name="username" required />
            <div class="help-block">Nome de usuário é necessário</div>
        </div> 
        <div class="form-group" >
            <label for="password">Senha</label>
            <input type="password" class="form-control" name="password" required />
            <div class="help-block">Senha é necessária</div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Cadastrar</button>
            <a class="btn btn-link">Cancelar</a>
        </div>
</div>
